name: "[Auto] Master push"

on:
  repository_dispatch:
    types: [master]

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    with:
      build-id: 'master'
    secrets: inherit

  release:
    name: Master Release
    needs: [build]
    uses: ./.github/workflows/release.yml
    with:
      build-id: 'master'
    secrets: inherit
