name: "[Auto] Master push"

on:
  repository_dispatch:
    types: [master]

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build.yml
    with:
      devel: true
      build-id: 'master'
    secrets: inherit

  status:
    name: Forgejo Status
    needs: [build]
    if: ${{ always() }}
    uses: ./.github/workflows/status.yml
    with:
      build-id: 'master'
      status: ${{ needs.build.result }}
    secrets: inherit

  release:
    name: Master Release
    needs: [build]
    uses: ./.github/workflows/release.yml
    permissions:
      actions: read
      security-events: write
      contents: write
      discussions: write
    with:
      devel: true
      build-id: 'master'
    secrets: inherit
