name: "Status and Release"

on:
  workflow_call:
    inputs:
      build-id:
        description: "build id"
        type: string
        required: true
      cpm-cache-version:
        description: "CPM cache version (e.g. v7)"
        type: string
        required: true
      devel:
        description: 'development build'
        type: string
        required: true

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  SCCACHE_GHA_ENABLED: "true"
  CCACHE: "true"
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
  DEVEL: ${{ inputs.devel }}

jobs:
  release-status:
    name: "Create Release"
    needs: [build]
    permissions:
      actions: read
      security-events: write
      contents: write
      discussions: write
    env:
      GH_TOKEN: "${{ secrets.CUSTOM_GITHUB_TOKEN }}"
      FJ_TOKEN: "${{ secrets.FORGEJO_TOKEN }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false

      - name: Download artifacts
        uses: actions/download-artifact@v7.0.0

      - name: Load payload environment
        shell: bash
        run: |
          export FORGEJO_LENV=forgejo-env/forgejo.env
          . ./.ci/fj/load-env.sh

      - name: Set environment variables for master/test/pull_request/push
        if: ${{ (inputs.build-id || '') == 'master' || (inputs.build-id || '') == 'test' || (inputs.build-id || '') == 'pull_request' || (inputs.build-id || '') == 'push }}
        run: |
          echo "DEVEL=true" >> $GITHUB_ENV
          echo "TIMESTAMP=$(date +%s)" >> $GITHUB_ENV

      - name: Set environment variables
        if: ${{ (inputs.build-id || '') == 'tag' }}
        run: |
          echo "DEVEL=false" >> $GITHUB_ENV

          case "${{ env.FORGEJO_REF }}" in
            (*rc*|*alpha*|*beta*)
              echo "TRACK=beta" >> $GITHUB_ENV
              ;;
            (*)
              echo "TRACK=production" >> $GITHUB_ENV
              ;;
          esac

      - name: Package artifacts nicely
        run: |
          export ID=${FORGEJO_REF}
          ./.ci/common/pack.sh

      - name: Generate changelog for master/test
        if: ${{ ((inputs.build-id || '') == 'master' || (inputs.build-id || '') == 'test') }}
        run: ./.ci/changelog/generate.sh master > changelog.md

      - name: Generate changelog for pull_request
        if: ${{ (inputs.build-id || '') == 'pull_request' }}
        run: ./.ci/changelog/generate.sh pull_request > changelog.md

      - name: Generate changelog for push
        if: ${{ (inputs.build-id || '') == 'push' }}
        run: ./.ci/changelog/generate.sh push > changelog.md

      - name: Generate changelog for tag
        if: ${{ (inputs.build-id || '') == 'tag' }}
        run: |
          ./.ci/changelog/generate.sh tag > changelog.md
          mkdir -p whatsnew
          echo "See the changelog here: https://$RELEASE_TAG_HOST/$RELEASE_TAG_REPO/releases/tag/${{ env.FORGEJO_REF }}" > whatsnew/whatsnew-en-US

      # - uses: r0adkll/upload-google-play@v1.1.3
      #   if: ${{ (inputs.build-id || '') == 'tag' }}
      #   with:
      #     serviceAccountJsonPlainText: ${{ secrets.PLAY_CREDENTIALS }}
      #     packageName: dev.eden.eden_emulator
      #     track: ${{ env.TRACK }}
      #     releaseFiles: android-aab/*.aab
      #     whatsNewDirectory: whatsnew
      #     releaseName: ${{ env.FORGEJO_REF }}

      - name: Delete Previous Release
        if: ${{ (inputs.build-id || '') == 'pull_request' }}
        run: |
          if [ -n "$GH_TOKEN" ]; then
            gh release delete "$FORGEJO_PR_NUMBER" --repo "$RELEASE_PR_REPO" --cleanup-tag -y
            sleep 5
          else
            echo "No CUSTOM_GITHUB_TOKEN provided, skipping release..."
          fi
        continue-on-error: true

      - name: Release Master
        if: ${{ env.GH_TOKEN && (inputs.build-id || '') == 'master' }}
        id: release
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: "Eden Master - ${{ env.FORGEJO_REF }}"
          tag_name: v${{ env.TIMESTAMP }}.${{ env.FORGEJO_REF }}
          repository: ${{ env.RELEASE_MASTER_REPO }}
          body_path: ./changelog.md
          prerelease: false
          draft: false
          generate_release_notes: false
          token: ${{ env.GH_TOKEN }}
          fail_on_unmatched_files: false
          make_latest: true
          files: |
            artifacts/*

      - name: Release PR (sha)
        id: release
        if: ${{ env.GH_TOKEN && (inputs.build-id || '') == 'pull_request' }}
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: "${{ env.FORGEJO_PR_TITLE }}"
          tag_name: ${{ env.FORGEJO_PR_NUMBER }}-${{ env.FORGEJO_REF }}
          repository: ${{ env.RELEASE_PR_REPO }}
          body_path: ./changelog.md
          token: ${{ env.GH_TOKEN }}
          prerelease: false
          draft: false
          generate_release_notes: false
          fail_on_unmatched_files: false
          make_latest: true
          files: |
            artifacts/*

      - name: Release PR (number)
        if: ${{ env.GH_TOKEN && (inputs.build-id || '') == 'pull_request' }}
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: ${{ env.FORGEJO_PR_TITLE }}
          tag_name: ${{ env.FORGEJO_PR_NUMBER }}
          repository: ${{ env.RELEASE_PR_REPO }}
          body_path: ./changelog.md
          token: ${{ env.GH_TOKEN }}
          prerelease: false
          draft: false
          generate_release_notes: false
          fail_on_unmatched_files: false
          discussion_category_name: "PRs"
          make_latest: true

      - name: Release Tag
        if: ${{ env.GH_TOKEN && (inputs.build-id || '') == 'tag' }}
        id: release
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: "Eden ${{ env.FORGEJO_REF }}"
          tag_name: ${{ env.FORGEJO_REF }}
          repository: ${{ env.RELEASE_TAG_REPO }}
          body_path: ./changelog.md
          prerelease: false
          draft: true
          generate_release_notes: false
          token: ${{ env.GH_TOKEN }}
          fail_on_unmatched_files: false
          make_latest: true
          files: |
            artifacts/*

      - name: Release Push
        if: ${{ env.GH_TOKEN && (inputs.build-id || '') == 'push' }}
        id: release
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: "Eden Continuous Build - ${{ env.FORGEJO_REF }}"
          tag_name: v${{ env.TIMESTAMP }}.${{ env.FORGEJO_REF }}
          repository: ${{ env.RELEASE_MASTER_REPO }}
          body_path: ./changelog.md
          prerelease: false
          draft: false
          generate_release_notes: false
          token: ${{ env.GH_TOKEN }}
          fail_on_unmatched_files: false
          make_latest: true
          files: |
            artifacts/*

      - name: Add release URL to summary for master
        if: ${{ (inputs.build-id || '') == 'master' }}
        run: |
          {
            echo "## Release Summary"
            echo ""
            echo "- View Release on GitHub: [Master](${{ steps.release.outputs.url }})"
            echo ""
          } >> "$GITHUB_STEP_SUMMARY"

      - name: Add release URL to summary for pull_request
        if: ${{ (inputs.build-id || '') == 'pull_request' }}
        run: |
          {
            echo "## Release Summary"
            echo ""
            echo "- View Release on GitHub: [#${{ env.FORGEJO_PR_NUMBER }}](${{ steps.release.outputs.url }})"
            echo ""
          } >> "$GITHUB_STEP_SUMMARY"

      - name: Add release URL to summary for tag
        if: ${{ (inputs.build-id || '') == 'tag' }}
        run: |
          {
            echo "## Release Summary"
            echo ""
            echo "- View Release on GitHub: [${{ env.FORGEJO_REF }}](${{ steps.release.outputs.url }})"
          } >> "$GITHUB_STEP_SUMMARY"

      - name: Add release URL to summary for push
        if: ${{ (inputs.build-id || '') == 'push' }}
        run: |
          {
            echo "## Release Summary"
            echo ""
            echo "- View Release on GitHub: [Continuous Build](${{ steps.release.outputs.url }})"
            echo ""
          } >> "$GITHUB_STEP_SUMMARY"

      - name: Forgejo Release only on tag
        if: ${{ env.FJ_TOKEN && (inputs.build-id || '') == 'tag' }}
        run: |
          ./.ci/fj/release.sh
          echo "- View Release on Forgejo: [${{ env.FORGEJO_REF }}]($(cat url))" >> "$GITHUB_STEP_SUMMARY"

      - name: Send release URL to status only for master/pull_request
        if: ${{ (inputs.build-id || '') == 'master' || (inputs.build-id || '') == 'pull_request' }}
        run: |
          python3 ./.ci/common/status.py release ${{ steps.release.outputs.url }}

      - name: Upload artifacts only for test
        if: ${{ (inputs.build-id || '') == 'test' }}
        uses: actions/upload-artifact@v6.0.0
        with:
          name: changelog
          path: changelog.md
