name: "Status and Release"

on:
  workflow_call:
    inputs:
      build-id:
        description: "build id"
        type: string
        required: true
      cpm-cache-version:
        description: "CPM cache version (e.g. v7)"
        type: string
        required: true
      devel:
        description: 'development build'
        type: string
        required: true

env:
  DISABLE_ARM: ${{ vars.DISABLE_ARM }}
  SCCACHE_GHA_ENABLED: "true"
  CCACHE: "true"
  FORGEJO_TOKEN: ${{ secrets.FORGEJO_TOKEN }}
  DEVEL: ${{ inputs.devel }}

jobs:
  release-status:
    name: "Create Release"
    needs: [build]
    permissions:
      actions: read
      security-events: write
      contents: write
      discussions: write
    env:
      GH_TOKEN: "${{ secrets.CUSTOM_GITHUB_TOKEN }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false

      - name: Download artifacts
        uses: actions/download-artifact@v7.0.0

      - name: Load payload environment
        shell: bash
        run: |
          export FORGEJO_LENV=forgejo-env/forgejo.env
          . ./.ci/fj/load-env.sh

      - name: Set environment variables
        run: |
          echo "DEVEL=true" >> $GITHUB_ENV
          echo "TIMESTAMP=$(date +%s)" >> $GITHUB_ENV

      - name: Package artifacts nicely
        run: |
          export ID=${FORGEJO_REF}
          ./.ci/common/pack.sh

      - name: Generate changelog
        run: ./.ci/changelog/generate.sh master > changelog.md

      - name: Release
        if: ${{ env.GH_TOKEN && (inputs.build-id || '') == 'master' }}
        id: release
        uses: softprops/action-gh-release@v2.5.0
        with:
          name: "Eden Master - ${{ env.FORGEJO_REF }}"
          tag_name: v${{ env.TIMESTAMP }}.${{ env.FORGEJO_REF }}
          repository: ${{ env.RELEASE_MASTER_REPO }}
          body_path: ./changelog.md
          prerelease: false
          draft: false
          generate_release_notes: false
          token: ${{ env.GH_TOKEN }}
          fail_on_unmatched_files: false
          make_latest: true
          files: |
            artifacts/*

      - name: Add release URL to summary
        if: ${{ (inputs.build-id || '') == 'master' }}
        run: |
          {
            echo "## Release Summary"
            echo ""
            echo "- View Release on GitHub: [Master](${{ steps.release.outputs.url }})"
            echo ""
          } >> "$GITHUB_STEP_SUMMARY"

      - name: Send release URL to status
        if: ${{ (inputs.build-id || '') == 'master' }}
        run: |
          python3 ./.ci/common/status.py release ${{ steps.release.outputs.url }}

      - name: Upload artifacts
        if: ${{ (inputs.build-id || '') == 'test' }}
        uses: actions/upload-artifact@v6.0.0
        with:
          name: changelog
          path: changelog.md
